
#blog-container { }

#left { width: 655px; float: left; }
#right { margin: 20px 13px 20px 0; width: 305px; float: right; padding: 10px; line-height: 1.5em; 
		-moz-border-radius: 10px; border-radius: 10px;}

/* Featured */
.featured-news { line-height: 1.08em; padding: 20px 0 20px 27px; background:50% 0 no-repeat; }
.featured-news .featured { float: left; margin-right: 13px; width: 140px; font-size:13px; }
.featured-news .featured:last-child { margin: 0; }
.featured-news .featured a {  }
.featured-news .featured a:hover, .featured-news .featured a:focus { color: #fff; }
.featured-news .featured a .featured-img { 	height: 90px; display: block; border: 1px solid transparent; background-position:50%; 
											-moz-border-radius:3px; border-radius:3px; }
.featured-news a:hover .featured-img { }
.featured-news .featured a:hover { text-decoration: none; }
.featured-news .featured-desc { padding:7px 0 0 0; display:block; word-wrap:break-word; }
#blog-container .featured-news { background:none }

.sidebar-content .featured-news { padding:0; }
.sidebar-content .featured-news .featured { width:auto; clear:both; float:none; margin:0 0 15px; }
.sidebar-content .featured-news a { display:block; overflow:hidden; }
.sidebar-content .featured-news .featured-img { width: 120px; float:left; margin-right:10px; }
.sidebar-content .featured-news .featured-desc { font-size:13px;  }
.sidebar-content .featured-news .date { font-size:11px; }

#content .more { padding-right: 20px; background:100% -5px no-repeat; }

/* News Blog */

#blog, .page-comment-interior h3, .comments-container { padding:29px 11px 0 20px; background: 50% 0 no-repeat;  }
h3.blog-title { font-weight:normal; font-size:30px; color:#fff; letter-spacing:-1px; word-wrap: break-word; }

#sidebar-related { display:none; }

#blog .byline { font-size:11px; line-height:24px; }
#blog .byline a { }
#blog .byline a:hover, #blog .byline a:focus { color: #fff; }
#blog .blog-info { float:left; }

#blog .header-image { padding:10px 0 19px 0; text-align:center; overflow: hidden; height: auto; width: 600px; }
#blog img { max-width: 100%; }
#blog .detail, .damocles-edit { line-height: 2em; padding: 5px 0 20px; }
#blog .detail p { padding:6px 0; }
#blog .detail h3 { margin-top:25px; text-decoration:underline; }

#blog ul,ol,dl { padding-left: 1em }
#blog ul li { list-style:disc; margin-left:1em }
#blog ol li { list-style-type: decimal; margin-left:1em }


#blog .community-share { font-size:11px; line-height:24px; clear:both; position:relative; padding: 20px 0 10px;  border-top: 1px solid black; }
#blog .community-share a { font-weight:bold; }
#blog .community-share a:hover { color:#fff; }

#blog .addthis_toolbox { float:right; background-position:-14px -120px; padding-left:24px; width:100px }
#blog .addthis_toolbox { padding:2px; -moz-border-radius:3px; border-radius:3px; background:#FFF}

#blog .keyword-list { padding:14px 0; clear:both; border-top: 2px solid black; font-size:11px; }

.button_count .connect_widget_interactive_area .connect_widget_text { }
